body {
  @include sprites($spritesheet-sprites);
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  box-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
  &.primary {
    background-color: #f7c044;
    width: 69px;
    height: 67px;
    .text {
      margin-bottom: 2px;
    }
    .iconeajuda {
      transform: scale(0.9);
    }
    &:hover {
      background-color: #fcecc6;

      .text,
      .icon {
        opacity: 0.5;
      }
    }
  }
}
