body {
  @include sprites($spritesheet-sprites);
}

.t11 {
  font-size: 11px;
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  box-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);

  &.primary {
    background-color: #4a53e1;
    width: 60px;
    height: 67px;
    .text {
      margin-bottom: 2px;
      color: white;
      text-transform: uppercase;
    }
    .iconeajuda {
      transform: scale(0.9);
    }
    &:hover {
      background-color: #2500e0;
    }
  }
}
