body {
  @include sprites($spritesheet-sprites);
}

.t11 {
  font-size: 11px;
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  box-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);

  &.primary {
    background-color: #4a53e1;
    width: 60px;
    height: 67px;
    .text {
      margin-bottom: 2px;
      color: white;
      text-transform: uppercase;
    }
    .iconeajuda {
      transform: scale(0.9);
    }
    &:hover {
      background-color: #2500e0;
    }
  }

  &.red-button {
    background-color: #ff6170;
    width: 220px;
    height: 67px;
    justify-content: center;
    .text {
      color: white;
      font-size: 38px;
      text-transform: uppercase;
    }

    &:hover {
      background-color: #e31e33;
    }
  }

  &.item {
    background-color: #8083ab;
    width: 60px;
    height: 67px;
    justify-content: center;
    position: relative;

    .check-complete {
      display: none;
    }
    .text {
      margin-bottom: 2px;
      color: white;
      text-transform: uppercase;
      font-size: 38px;
    }
    .iconeajuda {
      transform: scale(0.9);
    }
    &:hover {
      background-color: #a3a8f0;
    }
    &.selected {
      background-color: #2500e0;
    }
    &.complete {
      .text {
        color: #76e08d;
      }

      .check-complete {
        position: absolute;
        display: block;
        top: -6px;
        left: 40px;
      }
    }
  }
}
